{% include "header.html" %}

<!-- Page Header-->
<header
  class="masthead"
  style="background-image: url('../static/me.jpg')"
>
  <div class="container position-relative px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
        <div class="page-heading">
          <h1>Reading next......</h1>
        </div>
      </div>
    </div>
  </div>
</header>
<!-- Main Content-->
<main class="mb-4">
  <div class="container px-4 px-lg-5">
    <div class="row gx-4 gx-lg-5 justify-content-center">
      <div class="col-md-10 col-lg-8 col-xl-7">
          1. 101 есета, които промениха живота ми – Бриана Уист<br>
          2. Планината си ти – Бриана Уист<br>
          3. Петото споразумение – Дон Мигел Руис и Дон Хосе Руис<br>
          4. Атомни навици – Джеймс Клиър<br>
          5. Everything I Know About Love – Доли Алдъртън<br>
          6. Смелостта да не те харесват – Ичиро Кишими и Фумитаке Кога<br>
          7. Петте рани – Лиз Бурбо<br>
          8. Лечението на петте рани – Лиз Бурбо<br>
          9. Yesteryear – Каро Клеър Бърк

      </div>
    </div>
  </div>
</main>

{% include "footer.html" %}
